:root {
  // Colors
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-Cyan: hsl(178, 100%, 50%);
  --clr-very-dark-blue: hsl(217, 54%, 11%);
  --clr-very-dark-blue: hsl(216, 50%, 16%);
  --clr-very-dark-blue: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);

  //   fonts-family
  --family-outfit: Outfit;

  //   Fonts sizes
  --paragraph-size: 18;

  //   fonts weights
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 600;
}
